* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
.text {
  /* top right bottom left */
  padding: 0.125em 0.75em 0.1875em 0.5rem;
  line-height: 1.25;
}

p {
  padding-bottom: 0.5em;
  line-height: 1.5;
  min-width: 12em;
  max-width: 60em;
}

h1:not(h1:first-child),
h2:not(h2:first-child),
h3:not(h3:first-child),
h4:not(h4:first-child),
h5:not(h5:first-child),
h6:not(h6:first-child) {
  padding-top: 0.25em;
}

p,
.text {
  font-size: 1rem;
}

h6 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.375rem;
}

h3 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.625rem;
}

h1 {
  font-size: 2rem;
}

label {
  font-size: 0.75rem;
}

body {
  font-family: sans-serif;
}
